body {
    margin: 0;
    padding: 0;
}

/* Center Text on Home */
.section-index {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-img {
    width: 30%;
}

.home-button {
    padding-top: 1em;
}

.home-button a {
    color: black;
    text-decoration: none;
}

.home-button a .games-color:hover {
    color: #F6E3BA;
    text-decoration: none;
}

.games-color {
    font-weight: 600;
}


/* Buttons */

.btn.btn-primary.custom-btn-del {
    font-weight: 600;
    color: black;
    background-color: red;
    border-color: black;
    border-radius: 12px;
}

.btn.btn-primary.custom-btn {
    font-weight: 600;
    color: black;
    background-color: #F6E3BA;
    border-color: black;
    border-radius: 12px;
}

.rowContainer.custom-rc {
    border-radius: 25px;
    padding: 2em 2em 0.5em 2em;
    margin-bottom: 1.5em;
    border: 3px solid rgba(0, 0, 0, .3);
}

/* Nav */
header {
    padding: 1.5em 0 1.5em 0;
}

.nav-item {
    font-size: 2em;
    padding-left: 0.5em;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar {
    background-color: rgb(255, 255, 255);
}

#navLogo {
    width: 50%;
    height: 50%;
}

/**/
#inputContainer {
    padding: 1.5em 0 2em 0;
}

.container-fluid {
    width: 80%;
}

#dataContainer h2 {
    padding: 1.5em 0 1.5em 0;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 40px;
    color: #aaa;
    padding: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    height: 40px;
}

img {
    width: 100%;
}